@page
@model Notes.Pages.NoteScaffold.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Note.Title" class="control-label"></label>
                <input asp-for="Note.Title" class="form-control" />
                <span asp-validation-for="Note.Title" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Note.CreatedDate" class="control-label"></label>
                <input asp-for="Note.CreatedDate" class="form-control" />
                <span asp-validation-for="Note.CreatedDate" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="Note.TextNote" class="control-label"></label>
                <input asp-for="Note.TextNote" class="form-control" />
                <span asp-validation-for="Note.TextNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Color" class="control-label"></label>
                <input asp-for="Note.Color" class="form-control" />
                <span asp-validation-for="Note.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
